:root {
    --shadow: 2px 2px 5px lightgray;
}

body {
    margin: 0;
}

#container *{
    padding: 5px;
}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 200px 1fr;
}

/* SIDEBAR */
#sidebar {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    background-color: gray; 
    gap: 50px;
}

#title {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

#navigation,
#branding {
    display: grid;
    gap: 10px;
}

#navigation{
    grid-template-rows: repeat(6, 1fr);
}

#branding{
    grid-template-rows: repeat(3, 1fr);
}

.nav {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    height: 2rem;
}

#sidebar a {
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
}

/* HEADER */
#header {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    box-shadow: 0 5px 4px lightgray;
}

#user,
#buttons {
    display: flex;
    gap: 10px;
    justify-content: right;    
}

.user-name {
    font-weight: bold;
}

#user .user-name {
    font-size: 1.25rem;
}

#welcome .user-name {
    font-size: 1.5rem;
}

#buttons {
    align-self: end;
}

#buttons button {
    background-color: blue;
    border: 1px solid black;
    width: 6rem;
    height: 2.5rem;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
}

#buttons button:hover {
    background-color: lightblue;
    transform: scale(.9);
}

#buttons button:active {
    background-color: red;
}

#welcome {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-weight: bold;
}

#welcome .user-icon {
    grid-row: 1 / 3;    
}

/* PROJECTS */
#projects {
    display: flex;
    flex-direction: column; 
}

#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    border-left: 8px solid orange;
    border-radius: 10px;
    box-shadow: var(--shadow);
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* OTHER CONTAINERS */
#other-containers {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#announcements-container,
#trending-container {
    display: flex;
    flex-direction: column;
}

#announcements-container *,
#trending-container * {
    margin: 0;
}

#announcements,
#trending {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.announcement {
    display: flex;
    flex-direction: column;
}

.trends {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
}

.trends .user-icon {
    grid-row: 1 / 3;
}
